:root {
  --angular-app-font-family: 'Poppins', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --angular-app-font-size: 1rem;
  --private-border-radius: 4px; // TODO: Better naming
  --angular-app-border-radius: 10px; // TODO: Better naming

  --font-size-7: 0.4375rem;
  --font-size-9: 0.5625rem;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-17: 1.0625rem;
  --font-size-18: 1.15rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-36: 2rem;
  --font-size-48: 3rem;
  --font-size-50: 3.125rem;
  --font-size-170: 10.625rem;

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --modal-overlay-opacity: rgb(0 0 0 / 0.8);

  .highlight {
    font-weight: var(--font-weight-bold);
  }

  .primary-color-text {
    color: var(--angular-app-primary-color);
  }

  .dark-color-text {
    color: var(--angular-app-gray-900-color);
  }

  .gray-400-text {
    color: var(--angular-app-gray-400-color);
  }

  .bold-text {
    font-weight: var(--font-weight-bold);
  }

  .normal-text {
    font-weight: var(--font-weight-normal);
  }
}
