version: '3.7'

services:
  angular-app:
    build: .
    container_name: angular-app
    restart: always
    ports:
      - '4000:4000'
    command: 'yarn serve:ssr:client'

  api:
    build: ./api
    ports:
      - '5000:5000'
    volumes:
      - ./api:/app

  nginx:
    build: ./nginx
    ports:
      - '80:80'
    depends_on:
      - api
      - angular-app
