@import 'src/styles/mixins';

/* stylelint-disable selector-class-pattern */
.ck-editor__editable {
  min-height: 25em;
}
/* stylelint-enable selector-class-pattern */

ckeditor {
  .ck-content {
    blockquote {
      @include blockquote;
    }
  }

  .ck {
    .h1 {
      font-size: 2.5rem;
    }

    .h2 {
      font-size: 2rem;
    }

    .h3 {
      font-size: 1.75rem;
    }

    .h4 {
      font-size: 1.5rem;
    }

    .h5 {
      font-size: 1.25rem;
    }

    .h6 {
      font-size: 1rem;
    }
  }
}
